.calendar-monthgrid {
	&-day {
		color: var(--text-norm);

		&-number {
			display: inline-flex;
			inline-size: 1.75em;
			block-size: 1.75em;
			border-radius: var(--border-radius-medium);
		}

		&:hover &-number {
			background-color: var(--interaction-default-hover);
			color: var(--text-norm);
		}

		@media not print {
			&[aria-current='date'] &-number {
					color: var(--primary);
					font-weight: bold;
			}

			@include respond-to($breakpoint-small) {
				&[aria-pressed='true'] &-number {
					background-color: var(--primary);
					color: var(--primary-contrast);
					font-weight: bold;
				}
			}
		}
	}
}
