@import '~@proton/styles/scss/config';

body.embedded {
	font-size: 1em;
	background: none;

	@include respond-to($breakpoint-small, 'max') {
		.dropdown {
			background: none;
			padding: 10%;
		}

		.modal-overlay {
			background: none;
		}
	}
}

body.vpn {
	&,
	& .ui-prominent,
	& .ui-standard {
		--primary: #4da358 !important;
		--primary-contrast: white !important;

		--interaction-norm: #4da358 !important;
		--interaction-norm-hover: #3e8447 !important;
		--interaction-norm-active: #2e7037 !important;
		--interaction-norm-contrast: white !important;
	}
}

.hv {
	background: url(./mountains.svg) 0 0 no-repeat;
	background-size: cover;
	background-position: bottom;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hv-container {
	padding: em(24) em(48) em(48);
	border-radius: var(--border-radius-large);
}
